<% include ./partials/header %>
<div class ="ui main text container segment ">
    <div class = "ui huge header"><%= blogs.title %></div>
    <div class =" ui top attached ">
        <div class ="item"> 
        <img class= "ui centered round image"src="<%= blogs.image%>" >
        </div>
        <div class="content">
            <span><%= blogs.created.toDateString() %><span>
        </div>
        <divclas="description">
            <p><%= blogs.body %> </p>
        </div>
        <a class="ui purple basic button" href ="/blogs/<%= blogs._id %>/edit"> EDIT</a>
        <form id= "delete" action="/blogs/<%= blogs._id %>?_method=DELETE" method ="POST" >
            <button class ="ui orange basic button">DELETE</button>
        </form>
    </div>
     
        
        
    </div>
<% include ./partials/footer %>